
body{
  background-color: turquoise;
  color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button{
  padding: 10px 20px;
  background-color: teal;
  border-style: dotted;
}

input{
  height: 20px;
}
